<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      <% if(messages.error) { %>
      <p class="error-message"><%= messages.error %></p>
      <% } %>
      <form action="/register" method="post">
        <div>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="input-field"
            required
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="input-field"
            required
          />
        </div>
        <div>
          <label for="Password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="input-field"
            required
          />
        </div>
        <div>
          <button type="submit">Register</button>
        </div>
        <a href="/login">Login</a>
      </form>
    </div>
  </body>
</html>
